/* PREVIEW COLUMN */ 

.preview-text {
    min-width: 100%;
    height: 2.1rem;
    line-height: 2.5rem;
    margin: 0 auto;
    font-size: 1.3rem;
}

.degree, .subject {
    text-align: right;
}

.start-end {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

#schoolStart, #schoolEnd, #expStart, #expEnd {
    height: 2.5rem;
    width: 100%;
    margin: 0;
    text-align: center;
}

.preview-column-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 290px 1fr;
    gap: 0.5rem 0px;
}

.preview-column-container h1 {
    text-align: center;
    line-height: 2em;
    font-size: 3em;
}

.preview-column-header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: #253c5fd7;
    padding: 1rem;
    border-bottom: 4px solid #060d18b7;
}

.header-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    gap: 2px 0px;
}

.header-name {
    font-size: 2.5rem;
    text-indent: 10%;
    margin-bottom: 1%;
    
}

.header-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7rem 3.2rem 0.7rem 3.2rem 0.7rem 3.2rem 0.2fr;
    gap: 1px 0px;
    width: 95%;
    margin: 0 auto;
}

.header-info h4 {
    font-size: 0.9rem;
    font-weight: 600;
}

.header-info .preview-text {
    text-align: left;
    font-weight: 300;
}
 
.preview-column-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 768px;
}

/* PREVIEW SECTION */ 

h2, hr {
    margin-bottom: 0.5rem;
}

hr {
    width: 100%;
    margin: 0 auto;
    color: #b7b9bdc2;
}

h2 {
    text-indent: 1.4rem;
    font-weight: 600;
    font-style: italic;
}

section {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 768px;
}

.preview-section {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.preview-section .preview-text {
    font-size: 1rem;
}

.personal-text {
    word-wrap: break-word;
    margin-top: 0.3rem;
    padding: 1rem;
}

img {
    height: 100%;
}

.date-text {
    font-weight: 600;
    display: flex;
}

.school-name-location {
    display: flex;
    justify-content: flex-end;
}

.school-name-location, .position {
    text-align: right;
    font-weight: 600;
}

.company-name-location {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.submitted {
    background-color: #253c5f52;
    min-height: 126px;
    margin-bottom: 10px;
}